/ {
    chosen {
        zephyr,display = &st7789v_display;
    };

    lvgl_pointer {
        compatible = "zephyr,lvgl-pointer-input";
        input = <&xpt2046>;
        invert-y;
        swap-xy;
    };

    backlight_pin {
        compatible = "backlight-pin";
        backlight_pin: backlight {
            gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
            label = "backlight";
        };
    };

    mipi_dbi_display{
        compatible = "zephyr,mipi-dbi-spi";
        spi-dev = <&spi3>;
        dc-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
        #address-cells = <1>;
        #size-cells = <0>;

        st7789v_display: st7789v@0 {
            compatible = "sitronix,st7789v";
            mipi-max-frequency = <20000000>;
            reg = <0>;
            width = <320>;
            height = <240>;
            x-offset = <0>;
            y-offset = <0>;
            vcom = <0x2b>;
            gctrl = <0x35>;
            vrhs = <0x0f>;
            vdvs = <0x20>;
            mdac = <0x60>;
            gamma = <0x01>;
            colmod = <0x55>;
            lcm = <0x2c>;
            porch-param = [0c 0c 00 33 33];
            cmd2en-param = [5a 69 02 01];
            pwctrl1-param = [52 a1];
            pvgam-param = [D0 00 02 07 0B 1A 31 54 40 29 12 12 12 17];
            nvgam-param = [D0 00 02 07 05 15 2D 44 44 1C 18 16 1C 1D];
            ram-param = [00 F8];
            rgb-param = [CD 08 14];
            mipi-mode = <0x02>;
            inversion-off;
        };
    };

    aliases {
        backlight = &backlight_pin;
    };
};

&spi2 {
    compatible = "espressif,esp32-spi";
    status = "okay";
    pinctrl-0 = <&spim2_default>;
    xpt2046: xpt2046@0 {
        compatible = "xptek,xpt2046";
        spi-max-frequency = <1000000>;
        reg = <0>;
        int-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
        touchscreen-size-x = <240>;
        touchscreen-size-y = <320>;
        min-x = <0>;
        min-y = <0>;
        max-x = <3800>;
        max-y = <3800>;
        reads = <4>;
    };
};

&spi3 {
    compatible = "espressif,esp32-spi";
    status = "okay";
    pinctrl-0 = <&spim3_default>;
};

&i2c0 {
    aht20: aht20@38 {
        compatible = "aosong,aht20";
        reg = <0x38>;
        status = "okay";
    };
};

&wifi {
    status = "okay";
};
